.loginuser{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 40px;
    /* border:2px solid rgb(255, 255, 255); */
    background:  rgb(248, 247, 247);
    /* margin: 10px; */
    /* padding: 10px; */
    border-radius: 8px;
    margin-right: 10px;
   
}
.imguser{
    width: 40px;
    height: 40px;
    border-radius: 20%;
}
.username{
    height: 20px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.role{
    margin: 0;
    /* padding: 0; */
    height: 10px;
    font-size: 10px;
    /* padding-top: 1px; */
}



.logged {
    display: flex;
    height: 40px;
    flex-direction: column;
    align-items: center; 
  }

.btn-sm{
    border: 0px;

}