/* YourComponent.css */


  .search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 10px;
    height: 27px;
    background: rgb(236, 236, 236);
      
  }
  
  .search-box {
    padding: 8px 32px 8px 8px;
    border: 0px ;
    width: 200px; 
    border-radius: 4px;
    margin-left: 10px;
    height: 25px;
     width: 150px;
     background: rgb(236, 236, 236);
     
  }
  
  @media screen and (max-width:600px) {
    .search-wrapper{
      width: 40px;
    }

    .search-wrapper span {
      display: none; /* Hide the button text */
  }
  }
