.widget {
  display: flex;
  justify-content: space-around;
  height: 9 0px;
  border: 2px solid rgb(179, 179, 179);
  background: rgb(248, 247, 247);
  margin: 30px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 8px;
}
.img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

p {
  margin: 0;
  padding: 0;
  height: 25px;
  font-size: 15px;
}

.data {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: flex-start;
}
