.userwidget{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
  
}

.search{
    margin-left: 10px;
    margin-right: 20px;
    height: 35px;
    width: 200px;
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(197, 197, 197);
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.commonbutton{
    /* margin-left: 10px; */
    margin-right: 20px;
    height: 40px;
    width: 100px;
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(197, 197, 197);
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
}

  .commonbutton:hover {
    background-color:rgb(196, 195, 195);
    color: rgb(0, 0, 0);
    border: 1px solid grey;
  }

  .left{
    padding-left: 30px;
    border: 0px white;
  }

  .foot{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(255, 255, 255);
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
  }

  @media screen and (max-width: 600px) {
    .commonbutton {
        width: 40px; 
    }

    .commonbutton span {
        display: none;
    }
}